<!-- This Project is developed by Mr. Sahil Soni -->
<!-- January 2023 -->
<!-- Sahil is currently a student at University of Windsor, Ontario, Canada -->

<div class="app-root">
  <div
    ngxHideOnScroll
    class="header"
    [propertyUsedToHide]="'transform'"
    [valueWhenHidden]="'translateY(-100%)'"
    [valueWhenShown]="'translateY(0%)'"
  >
    <app-header></app-header>
  </div>
  <div class="three-sections">
    <app-left-panel class="left-panel"></app-left-panel>
    <app-main class="main-panel"></app-main>
    <app-right-panel class="right-panel"></app-right-panel>
  </div>
</div>
